* {
  box-sizing: border-box;
}

.site-header {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  color-scheme: light;
  background-color: #24292f;
  color: #ccc;
  line-height: 21px;
  text-size-adjust: 100%;
  padding-top: 16px;
  padding-bottom: 11px;
}

.site-header-content {
  padding-inline: 40px;
}

span > span > img {
  flex: 1 1 auto;
}

.circle {
  border-radius: 50%;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
}

button {
  align-items: center;
  appearance: ;
  border: none;
  background-color: transparent;
}

button:hover {
  background-color: rgba(208, 215, 222, 0.2);
}

button:active {
  background-color: rgba(208, 215, 222, 0.4);
}
